@import "bourbon/bourbon";
@import "normalize";

// COLORS

$dark: #0d1005;
$light: #467e25;

$black: fade-out(black, 0.4);
$white: fade-out(white, 0.4);

$grey: #4c4c4c;

$mouth: #7a5600;

// KEYFRAMES

@include keyframes(shakeEye) {
  70% {
    @include transform(translate(3px,2px));
  }
  72% {
    @include transform(translate(0,0));
  }
  73% {
    @include transform(scale(0.85));
  }
  98% {
    @include transform(scale(1));
  }
}

@include keyframes(closeEye) {
  0% {
    @include transform(scale3d(1,1.2,1));
  }
  4% {
    @include transform(scale3d(1,1,1));
  }
  8% {
    @include transform(scale3d(1.2,0.9,1));
  }
  60% {
    @include transform(rotate(360deg));
  }
}

@include keyframes(appear) {
  0% {
    opacity: 0;
    background: $light;
  }
  100% {
    opacity: 100;
  }
}

@include keyframes(moveLips) {
  0% {
    @include transform(scale3d(1.02,1.2,1));
  }
  20% {
    @include transform(scale3d(1,1.2,1));
  }
  60% {
    @include transform(scale3d(1,0.9,1));
  }
  80% {
    @include transform(scale3d(1,1.3,1));
  }
  100% {
    @include transform(scale3d(1.02,1.2,1));
  }
}